html {
  font-family: "Pixelify Sans", cursive;
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(157, 190, 124);
  font-size: 30px;
}
a:hover {
  transition: 1500ms;
  color: chartreuse;
}
header {
  margin-bottom: 50px;
}
header h1,
p {
  text-align: center;
}
.href_btns {
  text-align: center;
}
.href_btns a {
  margin-right: 50px;
}
.Routes {
  margin-top: 50px;
  text-align: center;
}
